@charset "utf-8";
.daxd
{
	font-size:42px;
	color:red;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin-bottom:60px;
}

body{
	background-image: url("images1.jpg");	
	background-repeat: no-repeat;
	background-size:100% ;
}
.maunen{
	font-size:24px;
	font-family:Georgia, "Times New Roman", Times, serif;
}